<div id="blog_post" ng-controller="searchCtrl" ng-init="initializeSearch()">
<p><%= @params %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 silver-background">
        <div class="section_header">
          <h3>Search</h3>
        </div>
        <form class="center-text">
          <div class="form-group col-md-3 left-indent">
          <h4>Search Decks or Posts:</h4>
            <label>
              <input ng-model="searchType" type="radio" name="deck_or_post" value="post" class="left-indent"> Match Result Post
            </label><br>
            <label>
              <input ng-model="searchType" type="radio" name="deck_or_post" value="deck" class="left-indent"> Deck
            </label>
          <h5 class="center-text">Records Per Page:
            <select ng-model="numberOfRecords" ng-options="paginator for paginator in paginationOptions" class="form-control record-num-select"></select>
          </h5>
          </div>
          <div class="form-group col-md-3">
            <label for="format">Format:</label><select id="format" class="form-control" ng-model="chosenFormat" ng-options="format.name for format in formats track by format.id" ng-change="selectArchetypes()"><option value=""></option></select>
          </div>
          <div class="form-group col-md-3">
            <label for="archetype">Archetype:</label><select id="archetype" ng-disabled="!chosenFormat" ng-model="chosenArchetype" class="form-control" ng-options="archetype.name for archetype in archetypes track by archetype.id" ng-change="changeArchetypeAndFormat()"><option value=""></option></select>
            <label for="opp_archetype">Opposing Archetype:</label><select id="opp_archetype" ng-disabled="!chosenFormat || searchType === 'deck'" ng-model="chosenOppArchetype" class="form-control" ng-options="archetype.name for archetype in archetypes track by archetype.id" ng-change="changeArchetypeAndFormat()"><option value=""></option></select>
          </div>
          <div class="form-group col-md-3">
            <label for="user">User:</label>
            <input id="user" type="text" class="form-control" ng-model="searchUser">
          </div>
          <div class="form-group col-md-12 center-text">
            <button class="btn btn-default" ng-click="newSearch()">Search</button>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <h5 class="center-text">Double Click a Record to Go to Deck or Result</h5>
        <h5 class="center-text">Double Click a Header to Sort</h5>
        <table id="results_table" class="table table-bordered table-hover center-text no-select">
          <thead>
            <tr ng-if="typeOfSearch('post', 'static')">
              <th></th>
              <th ng-dblclick="toggleOrder('created_at')">
                Date Created
                <span ng-if="showChevron(true, 'created_at')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'created_at')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('updated_at')">
                Date Updated
                <span ng-if="showChevron(true, 'updated_at')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'updated_at')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('deck.name')">
                Deck Name
                <span ng-if="showChevron(true, 'deck.name')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'deck.name')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('deck.archetype.name')">
                Deck Archetype
                <span ng-if="showChevron(true, 'deck.archetype.name')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'deck.archetype.name')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('archetype.name')">
                Opposing Archetype
                <span ng-if="showChevron(true, 'archetype.name')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'archetype.name')" class="glyphicon glyphicon-chevron-down"></span>                
              </th>
              <th ng-dblclick="toggleOrder('deck.user.username')">
                Created By
                <span ng-if="showChevron(true, 'deck.user.username')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'deck.user.username')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('deck.rating.avg')">
                Avg. Rating
                <span ng-if="showChevron(true, 'deck.rating.avg')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'deck.rating.avg')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('deck.rating.count')">
                # of Ratings
                <span ng-if="showChevron(true, 'deck.rating.count')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'deck.rating.count')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
            </tr>
            <tr ng-if="typeOfSearch('deck', 'static')">
              <th></th>
              <th ng-dblclick="toggleOrder('created_at')">
                Date Created
                <span ng-if="showChevron(true, 'created_at')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'created_at')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('updated_at')">
                Date Updated
                <span ng-if="showChevron(true, 'updated_at')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'updated_at')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('name')">
                Deck Name
                <span ng-if="showChevron(true, 'name')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'name')" class="glyphicon glyphicon-chevron-down"></span>                
              </th>
              <th ng-dblclick="toggleOrder('archetype.name')">
                Deck Archetype
                <span ng-if="showChevron(true, 'archetype.name')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'archetype.name')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('user.username')">
                Created By
                <span ng-if="showChevron(true, 'user.username')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'user.username')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('post.rating.avg')">
                Avg. Rating
                <span ng-if="showChevron(true, 'post.rating.avg')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'post.rating.avg')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
              <th ng-dblclick="toggleOrder('post.rating.count')">
                # of Ratings
                <span ng-if="showChevron(true, 'post.rating.count')" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-if="showChevron(false, 'post.rating.count')" class="glyphicon glyphicon-chevron-down"></span>
              </th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="post in shownPosts | orderBy: orderAttribute:direction" ng-if="typeOfSearch('post', 'static')" ng-dblclick="goTo('post', post.id)">
              <td>{{$index + 1 + startingIndex}}</td>
              <td>{{post.created}}</td>
              <td>{{post.updated}}</td>
              <td>{{post.deck.name}}</td>
              <td>{{post.deck.archetype.name}}</td>
              <td>{{post.archetype.name}}</td>
              <td>{{post.deck.user.username}}</td>
              <td ng-if="post.rating.avg">{{post.rating.avg}}</td>
              <td ng-if="!post.rating.avg">{{0.0}}</td>
              <td ng-if="post.rating.count">{{post.rating.count}}</td>
              <td ng-if="!post.rating.count">{{0.0}}</td>
            </tr>
            <tr ng-repeat="deck in shownDecks | orderBy: orderAttribute:direction" ng-if="typeOfSearch('deck', 'static')" ng-dblclick="goTo('deck', deck.id)">
              <td>{{$index + 1 + startingIndex}}</td>
              <td>{{deck.created}}</td>
              <td>{{deck.updated}}</td>
              <td>{{deck.name}}</td>
              <td>{{deck.archetype.name}}</td>
              <td>{{deck.user.username}}</td>
              <td ng-if="deck.rating.avg">{{deck.rating.avg}}</td>
              <td ng-if="!deck.rating.avg">{{0.0}}</td>
              <td ng-if="deck.rating.count">{{deck.rating.count}}</td>
              <td ng-if="!deck.rating.count">{{0.0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 center-text center-margin">
        <div class="paginator-container">
          <h5>Page:</h5>
          <ul class="pagination">
            <li><a href="#results_table" ng-click="changePage('back')" ng-if="page-1">Prev</a></li>
            <li><a href="#results_table">{{page}}</a></li>
            <li><a href="#results_table" ng-click="changePage('forward')" ng-if="showNext()">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>