<div ng-controller="editPostFormCtrl" ng-init="formInitialize(<%= @post.id %>)">
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 silver-background">
          <h2>Edit Match Result Post</h2>
          <form name="editPost" novalidate>
          <div class="row padding-15" id="deck_form">
            <div class="form-group">
              <h3>Deck:</h3>  
              <select ng-disabled="true" ng-model="post.deck.name" class="form-control"><option>{{post.deck.name}}</option></select>
            </div>
            <div class="form-group">
              <h3>Opposing Archetype:</h3>  
              <select ng-model="post.archetype.name" class="form-control" ng-disabled="true"><option>{{post.archetype.name}}</option></select>
            </div>
            <div class="form-group">
            <h3>Result:</h3> 
              <select ng-model="post.result.text_result" class="form-control" ng-disabled="true"><option>{{post.result.text_result}}</option></select>
            </div>
            <div class="form-group">
              <h3>Post Text:</h3>   
              <textarea class="form-control no-resize" rows=7 ng-model="post.post_text" required></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" ng-click="submitPost()" ng-disabled="editPost.$invalid">Submit Post</button>
            </div>
          </div>
          </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <datalist id="card_names" ng-if="cardName"><option ng-repeat="card in searchedCards">{{card.name}}</option></datalist>
          <div class="silver-background sidebar-margins" data-spy="affix" data-offset-bottom="300">
            <div class="center-text"><h3>Quick Card Lookup</h3></div>
              <div class="center-text">
                <div class="search-image">
                  <img ng-src="{{foundCardImageURL}}" ng-if="cardName" class="img-responsive center-margin ">
                </div>
                <div class="search-copy">
                  <h4 class="left-indent">Card Name:</h4>
                  <p><input list="card_names" ng-model="cardName" ng-keyup="lookUpCard(cardName)" class="form-control" autocomplete="on"></p>
                  <h3 ng-if="cardName" class="center-text">{{foundCardName}}</h3>
                  <button ng-if="cardName" clipboard text="foundCardName" on-copied="success()" on-error="fail(err)" class="btn btn-default">Copy Card Name</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>