<div ng-controller="newPostFormCtrl" ng-init="formInitialize(<%= current_user.id %>)">
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 silver-background">
          <h2>Generate a new Match Result Post</h2>
          <form>
          <div class="row padding-15" id="deck_form">
            <div class="form-group">
              <h3>Deck:</h3>  
              <select ng-model="newPost.deck_id" ng-options="deck.id as deck.name for deck in userDecks track by deck.id" ng-change="selectArchetypes()" class="form-control"></select>
            </div>
            <div class="form-group">
              <h3>Opposing Archetype:</h3>  
              <select ng-model="newPost.archetype_id" ng-options="archetype.id as archetype.name for archetype in archetypes track by archetype.id" class="form-control" ng-disabled="!newPost.deck_id"></select>
            </div>
            <div class="form-group">
            <h3>Result:</h3> 
              <select ng-model="newPost.result_id" ng-options="result.id as result.text_result for result in results track by result.id" class="form-control"></select>
            </div>
            <div class="form-group">
              <h3>Post Text:</h3>   
              <textarea class="form-control no-resize" rows=7 ng-model="newPost.post_text"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-default" ng-click="submitPost()">Submit Post</button>
            </div>
          </div>
          </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4" id="blog_post">
          <datalist id="card_names" ng-if="cardName"><option ng-repeat="card in searchedCards">{{card.name}}</option></datalist>
          <div class="sidebar">
            <div class="box">
              <div class="sidebar_header center-text"><h3>Quick Card Lookup</h3></div>
              <div class="box last">
                <div class="sidebar_header center-text">
                  <div class="search-image">
                    <img ng-src="{{foundCardImageURL}}" ng-if="cardName" class="img-responsive center-margin ">
                  </div>
                  <div class="search-copy">
                    <h4 class="left-indent">Card Name:</h4>
                    <p><input list="card_names" ng-model="cardName" ng-keyup="lookUpCard(cardName)" class="form-control" autocomplete="on"></p>
                    <h3 ng-if="cardName" class="center-text">{{foundCardName}}</h3>
                    <button ng-if="cardName" clipboard text="foundCardName" on-copied="success()" on-error="fail(err)" class="btn btn-default">Copy Card Name</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>