@import "bootstrap-sprockets";
@import "bootstrap";
body {
  background-image: url("shattered.png");
}
.center-text {
  text-align:center;
}
.sign-up-form {
  margin-top: 5px;
  margin-bottom: 5px;
}
.white-text {
  color:white;
}
.left-indent {
  padding-left:5px;
  text-align: left;
}
.sign-in-form {
  margin-bottom:8px;
}
.form-button {
  margin-top:5px;
}
.center-margin {
  margin: auto;
}
.alert {
  margin-top: 20px;
}
th {
  text-align: center;
}
.no-resize {
  resize: none;
}
 
.tooltip span
{
  display:none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background:transparent;
}
.tooltip {
  opacity: 100;
  position:relative;
  display:inline;
}
 
.tooltip span img
{
  float:left;
  margin:0px;
  padding:0px;
}
 
 
.tooltip:hover span
{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:auto;
  margin: 0 auto;
  overflow:hidden;
  padding:8px;
}
.card-image {
  border-radius:10px;
}
.sidebar {
  width: 100%;
}
.search-image {
  height: 350px;
}
.card-quantity {
  max-width: 30%;
}
img.tooltip-image {
  z-index:1000;
}
.search-copy {
  height: 150px;
}
.silver-background {
  background-image: url("theme/backgrounds/silver.jpg");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px #cfcfcf;
  border: 2px solid white;
  margin-bottom: 20px;
}
.padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}