<div ng-controller="editDeckFormCtrl" ng-init="formInitialize(<%= @deck.id %>)">
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 silver-background">
          <div class="section_header center-text">
            <h3>Edit Deck</h3>
          </div>
          <form name="editDeck">
            <div class="row padding-15" id="deck_form">
              <div class="form-group" ng-class="{ 'has-error' : editDeck.deck_name.$invalid && editDeck.deck_name.$dirty}">
                <h3><label for="deck">Deck Name:</label></h3>
                <input id="deck" ng-model="deck.name" class="form-control deck-form-control" required>
              </div>
              <div class="form-group">
                <h3><label for="format">Format:</label></h3>
                <select id="format" ng-model="chosenFormat" ng-options="format.id as format.name for format in formats track by format.id" ng-disabled="true" class="form-control deck-form-control" required></select>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editDeck.deck_name.$invalid && editDeck.deck_name.$dirty}">
                <h3><label for="archetype">Archetype:</label></h3>
                <select id="archetype" ng-model="chosenArchetype" ng-options="archetype.name for archetype in archetypes track by archetype.id" ng-disabled="!chosenFormat" class="form-control deck-form-control" ng-change="changeArchetype()" required></select>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : editDeck.deck_name.$invalid && editDeck.deck_name.$dirty}">
                <datalist id="card_names">
                  <option ng-repeat="card in searchedCards">{{card.name}}</option>
                </datalist>
                <h3>Cards:</h3>
                <table class="table center-text table-condensed">
                  <tr>
                    <th>Key Card</th>
                    <th>Quantity</th>
                    <th>Card Name</th>
                    <th>Sideboard?</th>
                  </tr>
                  <tr ng-repeat="deckCard in oldDeckCards">
                    <td><input type="radio" ng-model="deckCard.key_card" name="key_card" ng-value="true" ng-click="removePrevious($index,'old')" ng-disabled="deckCard.removed" required></td>
                    <td><input type="number" ng-model="deckCard.quantity" class="form-control card-quantity center-text" min="1" ng-change="addToTotalQuantity()" ng-disabled="deckCard.removed" required></td>
                    <td><input type="text" list="card_names" ng-model="deckCard.name" ng-disabled="true" class="form-control center-text" required></td>
                    <td><div class="checkbox"><input type="checkbox" ng-value="true" ng-model="deckCard.sideboard" class="center-text" ng-disabled="deckCard.removed"></div></td>
                    <td><a id="card{{$index}}" href="#card{{$index}}" ng-click="toggleRemoved($index)" class="btn btn-default" ng-if="!deckCard.removed">Remove</a><a id="card{{$index}}" href="#card{{$index}}" ng-click="toggleRemoved($index)" class="btn btn-default" ng-if="deckCard.removed">Undo</a></td>
                  </tr>
                  <tr ng-repeat="deckCard in newDeckCards">
                    <td><input type="radio" ng-model="deckCard.key_card" name="key_card" ng-value="true" ng-click="removePrevious($index ,'new')" required></td>
                    <td><input type="number" ng-model="deckCard.quantity" class="form-control card-quantity center-text" min="1" ng-change="addToTotalQuantity()" required></td>
                    <td><input type="text" list="card_names" ng-model="deckCard.name" ng-change="lookUpCardByName(deckCard.name)" class="form-control center-text" ng-blur="setCardName($index)" required></td>
                    <td><div class="checkbox"><input type="checkbox" ng-value="true" ng-model="deckCard.sideboard" class="center-text"></div></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>{{totalQuantity}}</td>
                    <td>Total Cards</td>
                  </tr>
                </table>
                <div id="deck_cards_buttons" class="center-text">
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="addDeckCard(1)">Add Another Card</a>
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="removeDeckCard(1)" ng-disabled="newDeckCards.length<1">Remove Last New Card</a><br>
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="addDeckCard(5)">Add 5 Cards</a>
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="removeDeckCard(5)" ng-disabled="newDeckCards.length<5">Remove 5 New Cards</a>
                </div>
              </div>
              <div class="form-group center-text">
                <button class="btn btn-default" ng-click="submitDeck(<%= current_user.id %>)" ng-disabled="editDeck.$invalid">Submit Deck</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-1"></div>
        <div id="blog_post" class="col-sm-3">
          <div class="sidebar">
            <div class="box">
              <div class="box last">
                <div class="sidebar_header center-text">
                  <div class="search-image">
                    <img ng-src="{{foundCardImageURL}}" ng-if="foundCardName" class="img-responsive center-margin">
                  </div>
                  <div>
                    <h3 ng-if="foundCardName" class="center-text">{{foundCardName}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>