<div ng-controller="newDeckFormCtrl" ng-init="formInitialize()">
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 silver-background">
          <div class="section_header center-text">
            <h3>Add a New Deck</h3>
          </div>
          <form name="newDeck" novalidate>
            <div class="row padding-15" id="deck_form">
              <div class="form-group" ng-class="{ 'has-error' : newDeck.deck_name.$invalid && newDeck.deck_name.$dirty}">
                <h3><label for="deck_name">Deck Name:</label></h3><input name="deck_name" id="deck_name" ng-model="deckInfo.name" class="form-control deck-form-control" required>
              </div>
              <div class="form-group" required ng-class="{ 'has-error' : newDeck.format.$invalid && newDeck.format.$dirty}">
                <h3><label for="format">Format:</label></h3>
                <select name="format" id="format" ng-model="chosenFormat" ng-options="format.id as format.name for format in formats track by format.id" ng-change="selectArchetypes()" class="form-control deck-form-control" required>
                </select>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : newDeck.archetype.$invalid && newDeck.archetype.$dirty}">
                <h3><label for="archetype">Archetype:</label></h3>
                <select name="archetype" id="archetype" ng-model="deckInfo.archetype_id" ng-options="archetype.id as archetype.name for archetype in archetypes track by archetype.id" ng-disabled="!chosenFormat" class="form-control deck-form-control" required></select>
              </div>
              <div class="form-group form-inline">
                <h3>Cards:</h3>
                <table class="table center-text table-condensed">
                  <tr>
                    <th>Key Card</th>
                    <th>Quantity</th>
                    <th>Card Name</th>
                    <th>Sideboard?</th>
                  </tr>
                  <tr ng-repeat="deckCard in newDeckCards" ng-class="{ 'has-error' : newDeck.cardName.$invalid && newDeck.cardName.$dirty}">
                    <td><input type="radio" ng-model="deckCard.key_card" name="key_card" ng-value="true" ng-click="removePrevious($index)" required></td>
                    <td><input type="number" ng-model="deckCard.quantity" class="form-control card-quantity center-text" min="1" ng-change="addToTotalQuantity()" required></td>
                    <td><input type="text" name="cardName" ng-model="deckCard.name" ng-change="lookUpCard(deckCard.name)" class="form-control center-text" ng-blur="setCardName($index)" required></td>
                    <td><div class="checkbox"><input type="checkbox" ng-value="true" ng-model="deckCard.sideboard" class="center-text"></div></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>{{totalQuantity}}</td>
                    <td>Total Cards</td>
                  </tr>
                </table>
                <div id="deck_cards_buttons" class="center-text">
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="addDeckCard(1)">Add Another Card</a>
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="removeDeckCard(1)">Remove Last Card</a><br>
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="addDeckCard(5)">Add 5 Cards</a>
                  <a href="#deck_cards_buttons" class="btn btn-default" ng-click="removeDeckCard(5)">Remove 5 Cards</a>
                </div>
              </div>
              <div class="form-group center-text">
                <button type="submit" class="btn btn-default" ng-click="submitDeck(<%= current_user.id %>)" ng-disabled="newDeck.$invalid">Submit Deck</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="silver-background sidebar-margins" data-spy="affix" data-offset-bottom="300">
            <div class="center-text">
              <div class="search-image">
                <img ng-src="{{foundCardImageURL}}" ng-if="foundCardName" class="img-responsive center-margin">
              </div>
              <div>
                <h3 ng-if="foundCardName" class="center-text">{{foundCardName}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>